
.app{
  height: 100vh;
  width: 100vw;
}

button{
  padding: 4px;
  border-radius: 1vh;
  background-color: rgba(0, 0, 255, 0.31);
}

.loginForm, .registerForm{
  box-shadow: inset;
  box-shadow: 3vh;
  box-shadow: black;
  border-width: .3vh;
  border-style: inset;
  border-color: blue;
  border-radius: 3vh;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vh;
  width: 20vw;
  background-color: rgba(0, 17, 141, 0.476);
}

.registerForm input{
  border-width: .3vh;
  border-style: inset;
  border-color: blue;
  border-radius: 1vh;
  width: 60%;
}

.loginForm input{
  border-width: .3vh;
  border-style: inset;
  border-color: blue;
  border-radius: 1vh;
  width: 60%;
}

.forms{
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
}
.logOutButton{
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: end;
}

.game{
  display: grid;
  place-items: center;
  grid-template-columns: 20% 80%;
  grid-template-rows: 4% 4% 46% 46%;
  height: 100%;
}

.table{
  grid-column: 2/3;
  grid-row: 3/5;
  display: flex;
  flex-direction: column;
  gap: 10%;
  height: 30vh;
  width: 16vw;
  justify-content: space-evenly;
}

.topStats{
  grid-column: 1/2;
  grid-row: 3/4;
  align-self: start;
}

.stats{
  grid-column: 1/2;
  grid-row: 4/5;
}

.tableInput{
  width: 4vh;
  height: 4vh;
  text-align: center;
  font-size: 4vh;
  border-width: 0.5vh;
  border-radius: 1vh;
  background-color: white;
}

.tableInput:focus{
  border-color: blue;
  border-width: .5vh;
}

.inputRow{
  display: flex;
  justify-content: space-between;
}

.yellow{
  background-color: yellow;
  color: white;
}

.green{
  background-color: greenyellow;
  color: white;
}

.grey{
  background-color: gray;
  color: white;
}

.active{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid blue;
  border-radius: 10px;
  height: 6vh;
  width: 6vh;
  font-size: 3rem;
}

.letter{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 10px;
  height: 6vh;
  width: 6vh;
  font-size: 3rem;
}